@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

main {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    background-color: #6a6a6a;
    filter: drop-shadow(2px 4px 6px black);
}

.container.animate {
    animation: dancing-shadows 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
}

@keyframes dancing-shadows {
    0% {
        filter: drop-shadow(1px 0 15px cyan);
    }

    15% {
        filter: drop-shadow(0 1px 15px blue);
    }

    30% {
        filter: drop-shadow(-1px 0 15px orange);
    }

    45% {
        filter: drop-shadow(0 1px 15px yellow);
    }

    60% {
        filter: drop-shadow(1px 0 15px lightgreen);
    }

    75% {
        filter: drop-shadow(0 1px 15px purple);
    }

    90% {
        filter: drop-shadow(-1px 0 15px red);
    }
}

.game-container {
    position: relative;
    height: 560px;
}

.hold-container {
    padding: 0;
    width: 0;
    transition: width 0.25s linear, padding 0.25s linear;
}

.hold-container.show {
    width: 130px;
    padding: 0 20px;
    border-right: 5px solid gray;
}

.hold-wrapper {
    margin: 0 auto;
    border: 3px solid lightgray;
    margin-top: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.hold-wrapper h2 {
    background-color: lightgray;
    color: gray;
    margin: 0;
    text-align: center;
}

#hold-canvas {
    display: block;
    margin: 0 auto;
}

.game-ui {
    padding: 0;
    width: 0;
    color: lightgray;
    transition: width 0.25s linear, padding 0.25s linear, border 0.25s linear;
    overflow-x: hidden;
}

.game-ui.show {
    width: 150px;
    padding: 0 20px;
    border-left: 5px solid gray;
}

.game-ui .score {
    border-bottom: 2px solid;
    white-space: nowrap;
}

.game-score {
    display: inline-block;
    transition: transform 0.15s linear;
}

.game-score.animate {
    transform: scale(1.2);
}

.game-container.animate {
    animation: shake 0.1s;
}

@keyframes shake {
    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.ui.hide {
    max-height: 0;
}

.ui {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    max-height: 560px;
    transition: max-height 0.25s linear;
}

.overlay {
    position: absolute;
    background-color: white;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.post-game-wrapper {
    text-align: center;
    z-index: 2;
    margin: 0 auto;
}

.post-game-wrapper>h2 {
    color: white;
    background-color: rgba(0, 0, 0, .5);
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding: 0 20px;
    border: 0;
    border-radius: 6px;
    margin-bottom: 20px;
}

.post-game-wrapper .hide {
    display: none;
}

.btn-play {
    width: 180px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transform: scale(0.8);
    transition: transform 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.25s linear, border 0.10s linear;
    font-family: 'Balsamiq Sans', cursive;
    opacity: 1;
}

.ui.hide .btn-play {
    opacity: 0;
    transform: scale(0);
}

.btn-play:hover {
    border-bottom: 5px solid gray;
    border-left: 5px solid lightgray;
    transform: scale(1);
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.instructions {
    margin: 0 auto;
    width: 230px;
    text-align: center;
    overflow: hidden;
    transition: width 0.25s linear, padding 0.25s linear;
    white-space: nowrap;
    height: fit-content;
    height: -moz-fit-content;
    padding: 10px 20px;
    background-color: #c1c1c1;
    color: white;
    border: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    filter: drop-shadow(2px 4px 6px black);
}

.instructions h2 {
    margin: 0;
}

.instructions.hide {
    width: 0;
    padding: 0;
}

.instruction {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 20px;
}

.instruction kbd:last-child {
    margin-right: 5px;
}

.next-wrapper {
    margin: 0 auto;
    border: 3px solid;
    margin-top: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.next-wrapper h2 {
    background-color: lightgray;
    color: gray;
    margin: 0;
    text-align: center;
}

#next-canvas {
    display: block;
    margin: 0 auto;
}

#background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}